@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    background-color: #000814;
    color:#f5f3f4 !important;
}

.hover-underline{
    position: relative;
}
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.hover-underline:hover::before {
    background-color: #f5f3f4; /* Change to the desired underline color */
  }
